// Place all the styles related to the Api/Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokeIndexEntry {
  list-style: none;
}

.pokeIndexEntry-img {
  max-width: 15px;
  max-height: 15px;
}

.item-image {
  max-width: 75px;
  max-height: 75px;
}