/* PHASE 7: Online */

.profile-picture {
  overflow: hidden;
}

.online {
  position: absolute;
  transform: rotate(-45deg) translateX(-20px);
  box-shadow: 0px 2px darkgreen;
  background-color: green;
  font-weight: bolder;
  color: white;
  font-size: 8px;
  width: 60px;
  text-align: center;
}